<section>   
  <h2>Employee list</h2>

  <table class="table table-responsive-lg">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th class='d-none d-md-block' scope="col">Birthdate</th>
        <th scope="col">E-mail</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList | async">
        <th scope="row">{{ employee.id }}</th>
        <td>{{ employee.name }}</td>
        <td class='d-none d-md-block'>{{ employee.birthdate }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.title?.name || "" }}</td>
        <td>{{ employee.status?.name || "" }}</td>

        <td>
          <button
            (click)="updateButtonClicked(employee)"
            class="btn btn-primary btn-block">Update
          </button>

          <button
          (click)="changeStatusButtonClicked(employee)"
          [ngClass]='{ 
            "btn-danger": employee.status.name !== "DEACTIVATED", 
            "btn-success": employee.status.name === "DEACTIVATED" }'
          class="btn btn-block">{{ employee.status.name !== 'DEACTIVATED' ? 'Deactivate' : 'Activate'  }}
        </button>
        
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav> -->
</section>
