#header {
  margin: 0;
  background-color: #eeeeee;
  padding: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mat-toolbar {
  background-color: #eeeeee;
  color: black;
  font-weight: 400;
}

.mat-icon {
  margin-right: 0.5em;
}
