.background {
  background-color: grey;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.6;
}

.spinner-border {
  width: 10rem;
  height: 10rem;
  color: black;
}

.d-flex {
  height: 100%;
  padding: 50vh 0 0 0;
}
