<div class="d-flex" id="wrapper">
	
	<!-- Sidebar -->
	<div class="bg-light border-right" id="sidebar-wrapper">

	  	<div class="sidebar-heading"> <br></div>
		<div class="list-group list-group-flush">
			
			<a 
				*ngIf="session.title === 'Seller' || session.title === 'Admin'"
				href="#"
				[routerLink]="['/shopping-cart']"
				class="list-group-item list-group-item-action bg-light">Perform sell</a>

			<a 
				href="#"
				*ngIf="session.title === 'Cashier' || session.title === 'Admin'"
				[routerLink]="['/cashier']"
				class="list-group-item list-group-item-action bg-light">Operate cash</a>

			<a 
				*ngIf="session.title === 'Customer Service' || session.title === 'Admin'"
				href="#"
				[routerLink]="['/client']" 
				class="list-group-item list-group-item-action bg-light">Client</a>

			<a 
				*ngIf="session.title === 'Warehouse' || session.title === 'Admin'"
				href="#"
				[routerLink]="['/clothes']" 
				class="list-group-item list-group-item-action bg-light">Clothes</a>

		</div>

	</div>
	<!-- /#sidebar-wrapper -->
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<app-header></app-header>
	  <div class="container-fluid">
		<app-dashboard
		*ngIf='session.title === "Admin"'></app-dashboard>
		<router-outlet></router-outlet>
	  </div>
	<!-- /#page-content-wrapper -->
	
  </div>
  
	
	
	
	
	
	
	
	<!-- <app-header></app-header>
	
	<div class="wrapper">
    <nav id="sidebar">


			<ul class="list-unstyled components">

				<li class="active">
					<a 
						*ngIf="session.title === 'Seller' || session.title === 'Admin'"
						href="#"
						[routerLink]="['/shopping-cart']">Perform sell</a>
				</li>

				<li>
						<a 
							href="#"
							*ngIf="session.title === 'Cashier' || session.title === 'Admin'"
							[routerLink]="['/cashier']">Operate cash</a>
				</li>


				<li>
					<a 
						*ngIf="session.title === 'Customer Service' || session.title === 'Admin'"
						href="#"
        		[routerLink]="['/client']" >Client</a>
				</li>


				<li>
					<a 
						*ngIf="session.title === 'Warehouse' || session.title === 'Admin'"
						href="#"
        		[routerLink]="['/clothes']" >Clothes</a>
				</li>


				<li>
					<a 
						*ngIf="session.title === 'Human Resource' || session.title === 'Admin'"
						href="#"
        		[routerLink]="['/employee']">Operate cash</a>
				</li>

			</ul>
	</nav>

	<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container" style='width: 100%;'>

					<app-dashboard
						*ngIf='session.title === "Admin"'></app-dashboard>

						<router-outlet></router-outlet>
        </div>
    </nav>
	</div>
</div> -->